/* layout.css completo actualizado */
.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 60px;
  padding: 20px;
  overflow-y: auto;
  background-color: #bac7f9;
  min-height: calc(100vh - 100px);
  min-width: 85vw;
  max-width: 1400px;
}

.main-container.sidebar-open {
  margin-left: 250px;
    min-width: 82vw;

}

.main-container.sidebar-closed {
  margin-left: 60px;
    min-width: 95vw;

}

.content {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: center;
}

/* Ajustes SOLO para Home */
.dashboard-home.main-container {
  margin-top: 1px !important;
  
}

.dashboard-home.sidebar-open {
  margin-left: 1px !important;
}


@media (max-width: 768px) {
  .main-container.sidebar-open,
  .main-container.sidebar-closed {
    margin-left: 0;
        min-width: 83vw;
  }

  .sidebar {
    width: 75%;
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }

  .toggle-btn {
    display: block;
  }
}
